<h2>メモの編集</h2>
<div class="container">
  <%= form_for(@memo, url: memo_url(@memo.id), method: :patch) do |f| %>
    <%= f.hidden_field(:user_id) %>
    <div class="mb-3">
      <%= f.label(:title, "タイトル") %>
      <%= f.text_field(:title, {class: "form-control"}) %>
    </div>
    <div class="mb-3">
      <%= f.label(:content, "メモ") %>
      <%= f.text_area(:content, {class: "form-control"}) %>
    </div>
    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  <% end %>
  <%= link_to "戻る", memo_index_path %>
</div>